<% layout('layout') -%>
<h1>linkr</h1>

<h2>Welcome, <%= user ? user.username : 'anonymous' %>!</h2>

<ul id="#links" is="linkr-list"></ul>
<ice-breaker></ice-breaker>
<script>
  // TODO: refine selector..
  var list = document.querySelector("ul");
  list.links = <%-JSON.stringify(links)%>;
  document.querySelector('ice-breaker').style.display = 'none';
</script>
